{% from 'base.html' import valida %}
{% extends 'base.html' %}

{% block title %}

TESTE PROJETO FILMES

{% endblock %}

{% block content %}



<div class="container">
    <div class="row">
        <div class="col-4">
            <form action="{{ url_for('filmes.uploadFile') }}" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.sobeArquivo.label}} {{ form.sobeArquivo(class='form-control')}}
                    {{ valida(form.sobeArquivo) }}
                </div>
                <div class="mb-3">
                    {{ form.submit(class='btn btn-outline-primary') }}
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for filme in filmesPath %}
            <div class="col mt-2">
                <div class="card" style="width: 34rem;">
                    <video width="100%" height="250" controls>
                            <source src="{{ url_for('static', filename='filmesSeries/{}'.format(filme)) }}" type="video/mp4">
                            {# <a href="{{ url_for('static', filename='filmesSeries/{}'.format(filme)) }}">CLIQUE AQUI</a> #}
                    </video>
                    <div class="card-body">
                        <h3 class="card-title"> {{ filme }}</h3>
                        <p class="card-text">Algum resumo muito importante sobre o filme/serie</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
